.estilo-de-tabla {
    overflow: hidden;
    width: fit-content;    
    border: 2px solid ;
    border-radius: 8px;
    color:black;
    background-color: black;
    box-shadow: -5px 5px 0px;
}

.titulo{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.estilo-de-tabla th,td{
    padding: 10px 20px;
    
    background-color: white;
}

.estilo-de-tabla tbody tr {
    border-bottom: 1px solid black;
}

.cajas {
    padding: em 1em;
    border: none;
    background-color: transparent;
    background-color: white;
    letter-spacing: .5px;
    

}

.encabezados{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}