.estilo-de-tabla  table {   
    border: 1px solid ;
    border-radius: 12px;
    color:black;
    background-color: black;
    box-shadow: -5px 5px 0px;
}

.titulo{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.estilo-de-tabla th,td{
    background-color: white;
    text-align: center;
}


.cajas {
    border: none;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;


}

.encabezados{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.opciones{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    border: none;
    
}

.Valor{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0px 10px;
}
.Horas {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.numero{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0px 10px;
}

/* ::-webkit-calendar-picker-indicator{
    color: black;
    background-color: white;
} */
